<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Metatags-->
    <partial name="_MetatagsPartial.cshtml" />

    <title>@ViewData["Title"] - PcHardware</title>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PcHardware.styles.css" asp-append-version="true" />
    <script src="~/dashboard/js/plugin/webfont/webfont.min.js"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Public+Sans:300,400,500,600,700" media="all">
    <link rel="stylesheet" href="~/dashboard/css/fonts.min.css" media="all">

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/dashboard/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dashboard/css/plugins.min.css">
    <link rel="stylesheet" href="~/dashboard/css/kaiadmin.min.css">

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/6bc4b501b1.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="main-navbar shadow-sm sticky-top">
            <div class="top-navbar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                            <h5 class="brand-name">Pc Hardware</h5>
                        </div>
                        <div class="col-md-5 my-auto">
                            <form action="/Search/Results" method="get" role="search">
                                <div class="input-group">
                                    <input type="search" name="query" placeholder="Search your product" class="form-control" />
                                    <button class="btn bg-white" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5 my-auto">
                            <ul class="nav justify-content-end flex-row" id="clientItemsNav">
                                <partial name="_LoginPartial" />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category/List">All Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category/Products/1">Processors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category/Products/2">Motherboards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category/Products/3">Memory (RAM)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category/Products/4">Storage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category/Products/5">Graphics Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category/Products/6">Power Supplies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category/Products/7">Cases</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category/Products/8">Monitors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category/Products/9">Accessories</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PcHardware - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <!--   Core JS Files   -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/dashboard/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/dashboard/js/core/popper.min.js"></script>
    <script src="~/dashboard/js/core/bootstrap.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="~/dashboard/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Chart JS -->
    <script src="~/dashboard/js/plugin/chart.js/chart.min.js"></script>
    <!-- jQuery Sparkline -->
    <script src="~/dashboard/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <!-- Chart Circle -->
    <script src="~/dashboard/js/plugin/chart-circle/circles.min.js"></script>
    <!-- Datatables -->
    <script src="~/dashboard/js/plugin/datatables/datatables.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="~/dashboard/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- jQuery Vector Maps -->
    <script src="~/dashboard/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/dashboard/js/plugin/jsvectormap/world.js"></script>
    <!-- Sweet Alert -->
    <script src="~/dashboard/js/plugin/sweetalert/sweetalert.min.js"></script>
    <!-- Kaiadmin JS -->
    <script src="~/dashboard/js/kaiadmin.min.js"></script>
    @*enable tooltip*@
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>