<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PcHardware</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PcHardware.styles.css" asp-append-version="true" />

    <link rel="icon" href="~/dashboard/img/Dashboard.ico" type="image/x-icon">
    <script src="~/dashboard/js/plugin/webfont/webfont.min.js"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Public+Sans:300,400,500,600,700" media="all">
    <link rel="stylesheet" href="~/dashboard/css/fonts.min.css" media="all">
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["~/dashboard/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>
    <!-- CSS Files -->
    <link rel="stylesheet" href="~/dashboard/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dashboard/css/plugins.min.css">
    <link rel="stylesheet" href="~/dashboard/css/kaiadmin.min.css">

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/6bc4b501b1.js" crossorigin="anonymous"></script>

    <!--QuillJs-->
    <script src="~/quilljs/quill.js"></script>
    <link href="~/quilljs/quill.snow.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
      <!-- Sidebar -->
      <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="/Index" class="logo">
              <h2 class="navbar-brand text-light">Admin Dashboard</h2>
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="scroll-wrapper sidebar-wrapper scrollbar scrollbar-inner" style="position: relative;"><div class="sidebar-wrapper scrollbar scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 351.25px;">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item">
                <a href="/Admin/Dashboard" class="collapsed" aria-expanded="false">
                  <i class="fas fa-home"></i>
                  <p>Overview</p>
                </a>
              </li>
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">Pages</h4>
              </li>
              <li class="nav-item">
                @* SEO *@
                <a data-bs-toggle="collapse" href="#base">
                <i class="fa-solid fa-hashtag"></i>
                  <p>SEO</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="base">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/Metatags/Manage">
                        <span class="sub-item">Manage Metatags</span>
                      </a>
                    </li>
                  </ul>
                </div>
                @*Gallery*@
                <a href="/Gallery/Collection">
                    <i class="fa-solid fa-images"></i>
                    <p>Gallery</p>
                </a>

                @*Site Setting*@
                <a href="/Site/Settings">
                    <i class="fa-solid fa-gears"></i>
                    <p>Site Settings</p>
                </a>
                
                @*Users*@
                <a href="/User/Manage">
                    <i class="fa-solid fa-user"></i>
                    <p>Users</p>
                </a>

                @*Roles*@
                <a href="/Roles/Manage">
                    <i class="fa-solid fa-circle-user"></i>
                    <p>Roles</p>
                </a>

                @*Activities*@
                <a href="/Activity/Manage">
                    <i class="fa-solid fa-list"></i>
                    <p>Activities</p>
                </a>
              </li>
            </ul>
          </div>
        </div><div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 0px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 198px; top: 0px;"></div></div></div></div>
      </div>
      <!-- End Sidebar -->

      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
              <img src="~/dashboard/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20">
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
            <!-- End Logo Header -->
          </div>
          <!-- Navbar Header -->
          <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
            <div class="container-fluid">
              <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="submit" class="btn btn-search pe-1">
                      <i class="fa fa-search search-icon"></i>
                    </button>
                  </div>
                  <input type="text" placeholder="Search ..." class="form-control">
                </div>
              </nav>

              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true">
                    <i class="fa fa-search"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-search animated fadeIn">
                    <form class="navbar-left navbar-form nav-search">
                      <div class="input-group">
                        <input type="text" placeholder="Search ..." class="form-control">
                      </div>
                    </form>
                  </ul>
                </li>
                <li class="nav-item topbar-user dropdown hidden-caret">
                  <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                    <div class="avatar-sm">
                      <img src="~/dashboard/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>
                    <span class="profile-username">
                      <span class="op-7">Hi,</span>
                      <span class="fw-bold">Admin</span>
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="scroll-wrapper dropdown-user-scroll scrollbar-outer" style="position: relative;"><div class="dropdown-user-scroll scrollbar-outer scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 0px;">
                      <li>
                        <div class="user-box">
                          <div class="avatar-lg">
                            <img src="~/dashboard/img/profile.jpg" alt="image profile" class="avatar-img rounded">
                          </div>
                          <div class="u-text">
                            <h4>Hizrian</h4>
                            <p class="text-muted">hello@example.com</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Seller/Settings">Account Setting</a>
                        <div class="dropdown-divider"></div>
                        <form id="logoutForm" class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                        </form>
                      </li>
                    </div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar"></div></div></div></div>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>

        <div class="container">
          <div class="page-inner">
            @RenderBody()
          </div>
        </div>

      </div>
    </div>

    <!--   Core JS Files   -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/dashboard/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/dashboard/js/core/popper.min.js"></script>
    <script src="~/dashboard/js/core/bootstrap.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="~/dashboard/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Chart JS -->
    <script src="~/dashboard/js/plugin/chart.js/chart.min.js"></script>
    <!-- jQuery Sparkline -->
    <script src="~/dashboard/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <!-- Chart Circle -->
    <script src="~/dashboard/js/plugin/chart-circle/circles.min.js"></script>
    <!-- Datatables -->
    <script src="~/dashboard/js/plugin/datatables/datatables.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="~/dashboard/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- jQuery Vector Maps -->
    <script src="~/dashboard/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/dashboard/js/plugin/jsvectormap/world.js"></script>
    <!-- Sweet Alert -->
    <script src="~/dashboard/js/plugin/sweetalert/sweetalert.min.js"></script>
    <!-- Kaiadmin JS -->
    <script src="~/dashboard/js/kaiadmin.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>